# Data Wrangling

In [41]:
# import package
import pandas as pd

In [42]:
# load data
cars = pd.read_csv('C:/Users/melan/OneDrive/Documents/Entity/Final Project/Car-Sales-Data.csv')
cars.head(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.7,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.5,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.8,Gas,no,1999,Golf IV

In [43]:
# rename the engine type column
cars.rename(columns={'Engine Type' : 'EngineType'}, inplace=True)
cars.head(10)

,Brand,Price,Body,Mileage,EngineV,EngineType,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.7,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.5,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.8,Gas,no,1999,Golf IV

In [44]:
# drop irrelevant variables registration and model
cars.drop(['Registration','Model'], axis=1, inplace=True)
cars.head(10)

           Brand     Price       Body  Mileage  EngineV EngineType  Year
0            BMW    4200.0      sedan      277      2.0     Petrol  1991
1  Mercedes-Benz    7900.0        van      427      2.9     Diesel  1999
2  Mercedes-Benz   13300.0      sedan      358      5.0        Gas  2003
3           Audi   23000.0  crossover      240      4.2     Petrol  2007
4         Toyota   18300.0  crossover      120      2.0     Petrol  2011
5  Mercedes-Benz  199999.0  crossover        0      5.5     Petrol  2016
6            BMW    6100.0      sedan      438      2.0        Gas  1997
7           Audi   14200.0      vagon      200      2.7     Diesel  2006
8        Renault   10799.0      vagon      193      1.5     Diesel  2012
9     Volkswagen    1400.0      other      212      1.8        Gas  1999

In [45]:
# delete NaN values
cars.dropna(inplace=True)
cars1=cars.dropna().reset_index(drop=True)
cars1.head(10)

           Brand     Price       Body  Mileage  EngineV EngineType  Year
0            BMW    4200.0      sedan      277      2.0     Petrol  1991
1  Mercedes-Benz    7900.0        van      427      2.9     Diesel  1999
2  Mercedes-Benz   13300.0      sedan      358      5.0        Gas  2003
3           Audi   23000.0  crossover      240      4.2     Petrol  2007
4         Toyota   18300.0  crossover      120      2.0     Petrol  2011
5  Mercedes-Benz  199999.0  crossover        0      5.5     Petrol  2016
6            BMW    6100.0      sedan      438      2.0        Gas  1997
7           Audi   14200.0      vagon      200      2.7     Diesel  2006
8        Renault   10799.0      vagon      193      1.5     Diesel  2012
9     Volkswagen    1400.0      other      212      1.8        Gas  1999

In [46]:
# drop any rows that have 0 in the miles column
cars2 = cars1[cars1.Mileage != 0]
cars2.head(10)

            Brand    Price       Body  Mileage  EngineV EngineType  Year
0             BMW   4200.0      sedan      277      2.0     Petrol  1991
1   Mercedes-Benz   7900.0        van      427      2.9     Diesel  1999
2   Mercedes-Benz  13300.0      sedan      358      5.0        Gas  2003
3            Audi  23000.0  crossover      240      4.2     Petrol  2007
4          Toyota  18300.0  crossover      120      2.0     Petrol  2011
6             BMW   6100.0      sedan      438      2.0        Gas  1997
7            Audi  14200.0      vagon      200      2.7     Diesel  2006
8         Renault  10799.0      vagon      193      1.5     Diesel  2012
9      Volkswagen   1400.0      other      212      1.8        Gas  1999
10        Renault  11950.0      vagon      177      1.5     Diesel  2011

### The data looks much cleaner. Now, need to convert non numeric variables to numeric.

In [47]:
# check to see which variables are non numeric
cars2.dtypes

Brand          object
Price         float64
Body           object
Mileage         int64
EngineV       float64
EngineType     object
Year            int64
dtype: object

 Brand, Body, and EngineType need to be converted. First, we need to check levels of each variable to see how to recode it.

In [48]:
# levels of Brand
cars2['Brand'].value_counts(sort=True)

Volkswagen       854
Mercedes-Benz    768
BMW              622
Toyota           490
Renault          434
Audi             410
Mitsubishi       300
Name: Brand, dtype: int64

In [49]:
# levels of Body
cars2['Body'].value_counts(sort=True)

sedan        1505
crossover     740
van           612
other         383
vagon         374
hatch         264
Name: Body, dtype: int64

In [50]:
# Levels of EngineType
cars2['EngineType'].value_counts(sort=True)

Diesel    1766
Petrol    1417
Gas        590
Other      105
Name: EngineType, dtype: int64

We'll need to recode 7 levels for the Brand, 6 for the Body, and 4 for the Engine Type

### Recoding

In [52]:
# recoding Brand
cleanup = {"Brand" : {"Volkswagen" : 0, "Mercedes-Benz" : 1, "BMW" : 2, "Toyota" : 3, "Renault" : 4, "Audi" : 5, "Mitsubishi" : 6}}
cars2.replace(cleanup, inplace=True)
cars2.head()

C:\Users\melan\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

   Brand    Price       Body  Mileage  EngineV EngineType  Year
0      2   4200.0      sedan      277      2.0     Petrol  1991
1      1   7900.0        van      427      2.9     Diesel  1999
2      1  13300.0      sedan      358      5.0        Gas  2003
3      5  23000.0  crossover      240      4.2     Petrol  2007
4      3  18300.0  crossover      120      2.0     Petrol  2011

In [53]:
# recoding Body
cleanup = {"Body" : {"sedan" : 0, "crossover" : 1, "van" : 2, "other" : 3, "vagon" : 4, "hatch" : 5}}
cars2.replace(cleanup, inplace=True)
cars2.head()

C:\Users\melan\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

   Brand    Price  Body  Mileage  EngineV EngineType  Year
0      2   4200.0     0      277      2.0     Petrol  1991
1      1   7900.0     2      427      2.9     Diesel  1999
2      1  13300.0     0      358      5.0        Gas  2003
3      5  23000.0     1      240      4.2     Petrol  2007
4      3  18300.0     1      120      2.0     Petrol  2011

In [54]:
# recode Engine Type
cleanup = {"EngineType" : {"Diesel" : 0, "Petrol" : 1, "Gas" : 2, "Other" : 3}}
cars2.replace(cleanup, inplace=True)
cars2.head()

C:\Users\melan\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

   Brand    Price  Body  Mileage  EngineV  EngineType  Year
0      2   4200.0     0      277      2.0           1  1991
1      1   7900.0     2      427      2.9           0  1999
2      1  13300.0     0      358      5.0           2  2003
3      5  23000.0     1      240      4.2           1  2007
4      3  18300.0     1      120      2.0           1  2011

Awesome! Now we're ready to start analysis.